{% extends "base.html" %}

{% block content %}

<section class="hero is-light is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">


        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h1 class="title">Cette page n'existe pas</h1>
                <h3 class="title is-3" style="margin-top: 3px">ou bien ce livre n'est plus en stock.</h3>

                {% include "search-form.html" %}

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</section>

{% endblock %}
