<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>

  <body>
    <section>
      <nav class="navbar is-info">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <!-- <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
              <div> La Palpitante </div>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="http://www.lapalpitante.fr/">
                  <span class="icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <span>Site ouéb</span>
                </a>
              </span>
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="#" onclick="gotobasket()">
                  <span class="icon">
                    <i class="fa fa-shopping-basket"></i>
                  </span>
                  <span>
                    Panier
                    <span id="basketqty" class="tag is-light is-rounded"> 0 </span>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </section>

    <script>
      function setbasketqty () {
          let storage = window.localStorage;
          let quantity = 0;
          if (storage.getItem("savedcardids")) {
              let ids = storage.getItem("savedcardids").split(",");
              if (ids) {
                  quantity = ids.length;
              }
          }
          let elt = document.getElementById("basketqty");
          elt.innerText = quantity;
      }
      setbasketqty();

     function gotobasket () {
         let storage = window.localStorage;
         let ids = "";
         if (storage.getItem("savedcardids")) {
             ids = storage.getItem("savedcardids");
         }
         let url = "/panier?ids=" + ids;
         console.log("redirecting to ", url);
         window.location.href = url;
     }
    </script>

    {% block content %} {% endblock %}

    <footer class="footer" style="background-color: #222831; color: lemonchiffon; padding-bottom: 3em">
      <div class="container">
        <div class="columns">
          <div class="column is-3 is-offset-4">
            <h2>
              <i class="fa fa-rocket"></i>
              <strong style="color: lemonchiffon;">Propulsé par</strong>
            </h2>
            <ul>
              <li><a href="http://abelujo.cc/">Abelujo</a> - logiciel libre pour librairies</li>
              <li><a href="https://gitlab.com/vindarel/abstock"> ABStock</a> - catalogue en ligne</li>
            </ul>
          </div>
          <div class="column is-3">
            <h2>
              <i class="fa fa-pen"></i>
              <strong style="color: lemonchiffon;">Contact</strong></h2>
            <ul>
              <li><a href="http://www.lapalpitante.fr/?s=contact">La Palpitante</a></li>
              <li><a href="http://abelujo.cc/#contact">Support technique</a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>

  </body>
</html>
