{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-8 is-offset-2">

      <div class="box">
        <form action="search">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" name="q" id="query" type="text" placeholder="Chercher un titre, un auteur…">
            </p>
            <p class="control">
              <a class="button is-info" type="submit">
                Chercher
              </a>
            </p>
          </div>
        </form>
      </div>

      {% for card in cards %}
      <div id="{{ card.id }}" class="box content">
	<article class="post">
	  <div class="media">
	    <div class="media-left">
	      <p class="image is-64x64">
		<img src="{{ card.cover }}">
	      </p>
	    </div>
	    <div class="media-content">
	      <div class="content">
                <h4> {{ card.title }} </h4>
		<p>
                  <span> {{ card.author }} </span>
		  <span class="tag"> {{ card.shelf }} </span>
		</p>
	      </div>
	    </div>
	    <div class="media-right">
	      <span class="has-text-grey-light"> {{ card.price | price }} €</span>
              <span  class="icon is-medium" style="cursor: pointer;" title="Ajouter au panier" onclick="add_to_cart({{ card.id }})">
                <i class="fas fa-lg fa-plus-circle"></i>
              </span>
	    </div>
	  </div>
	</article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function add_to_cart (id) {
      console.log("-- adding card of id ", id, " into the shopping basket.");
      let storage = window.localStorage;
      if (storage.getItem("savedcardids")) {
          let ids = storage.getItem("savedcardids");
          ids = ids + "," + id;
          storage.setItem("savedcardids", ids);
          console.log("local storage is now: ", ids);
      } else {
          console.log("saving card id: ", id);
          storage.setItem("savedcardids", id);
      }

      setbasketqty();  // from base.
  };
</script>
{% endblock %}
