{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 5em">
  <div class="section">
    <div class="box">
      {% include "search-form.html" %}
    </div>

    <div class="row">
      {% if length-isbns-not-found > 0 %}
      <span> Nous n'avons pas trouvé ces ISBNs en stock: </span>
      <span>
        {% for isbn in isbns-not-found %}
        <p> {{ isbn }}</p>
        {% endfor %}
      </span>
      {% endif %}
    </div>

    <div class="row columns is-multiline is-mobile">

      {% if no-results %}
      <div> Aucun résultat !</div>
      {% if query-length >= 2 %}
      <div> Essayez avec moins de termes de recherche ou dans un ordre différent.</div>
      {% endif %}
      {% endif %}

      {% for card in cards %}
      <div class="column is-2-desktop is-one-quarter-tablet is-half-mobile">
        <div class="card" id="{{ card.id }}">
          <div class="card-image">
            <figure class="image">
              <img src="{{ card.cover }}" alt="Couverture de {{ card.title }}"/>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-6 no-padding">{{ card.title }}</p>
                <p><span><a href="/search?q={{ card.author }}">{{ card.author }}</a></span></p>
                <!-- <p class="subtitle is-6">{{ card.author }}</p> -->
                <p class="">{{ card.publisher | capfirst }}</p>
                <p>
                  <a href="/search?rayon={{ card.shelf_id }}">
                    <span class="tag" title="{{ card.shelf }}"> {{ card.shelf | truncatechars:27 }} </span>
                  </a>
                </p>

	        <span class="has-text-grey-light"> {{ card.price | price }} €</span>
                <span  class="icon is-medium" style="cursor: pointer;" title="Ajouter au panier" onclick="add_to_cart({{ card.id }})">
                  <i class="fas fa-lg fa-plus-circle"></i>
                </span>

              </div>
            </div>

          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <!-- <div class="row columns is-multiline">
          {% for card in cards %}
          <div class="column is-half">
          <div id="{{ card.id }}" class="box content">
          <article class="post">
	  <div class="media">
	  <div class="media-left">
	  <p class="image is-128x128">
	  <img src="{{ card.cover }}">
	  </p>
	  </div>
	  <div class="media-content">
	  <div class="content">
          <h4> {{ card.title }} </h4>
	  <p>
          <span> {{ card.author }} </span>
          <span> {{ card.publisher | capfirst }} </span>
	  </p>
          <a href="/search?rayon={{ card.shelf_id }}">
          <span class="tag"> {{ card.shelf }} </span>
          </a>
	  </div>
	  </div>
	  <div class="media-right">
	  <span class="has-text-grey-light"> {{ card.price | price }} €</span>
          <span  class="icon is-medium" style="cursor: pointer;" title="Ajouter au panier" onclick="add_to_cart({{ card.id }})">
          <i class="fas fa-lg fa-plus-circle"></i>
          </span>
	  </div>
	  </div>
          </article>
          </div>
          </div>
          {% endfor %}
          </div> -->
  </div>
</div>

{% endblock %}
