{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 5em">
  <div class="section">
    <div class="box">
      {% include "search-form.html" %}
    </div>

    <div class="row">
      {% if length-isbns-not-found > 0 %}
      <span> Nous n'avons pas trouvé ces ISBNs en stock: </span>
      <span>
        {% for isbn in isbns-not-found %}
        <p> {{ isbn }}</p>
        {% endfor %}
      </span>
      {% endif %}
    </div>

    <div class="row columns is-multiline is-mobile">

      {% if no-results %}
      <div> Aucun résultat !</div>
      {% if query-length >= 2 %}
      <div> Essayez avec moins de termes de recherche ou dans un ordre différent.</div>
      {% endif %}
      {% endif %}

      {% for card in cards %}

      {% include "component-card.html" %}

      {% endfor %}
    </div>

    {% if pagination %}
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-link"> {{ pagination.text-label }} </a>
      <ul class="pagination-list">
        <li>
          {% if pagination.page == 1 %}
          <a class="pagination-link" aria-label="Goto previous page" disabled> < </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto previous page"
             href="/search?q={{ query }}&rayon={{ shelf_id }}&page=1"> < </a>
          {% endif %}

          {% for _ in pagination.max-nb-buttons.make-list %}
          {% if forloop.counter == pagination.page %}
          <a class="pagination-link is-current" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ forloop.counter }}" >
            {{ forloop.counter }} </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ forloop.counter }}" >
            {{ forloop.counter }} </a>
          {% endif %}
          {% endfor %}

          {% if pagination.max-nb-buttons > pagination.nb-pages %}
          <span class="pagination-ellipsis">&hellip;</span>
          <a class="pagination-link" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ pagination.nb-pages }}" >
            {{ pagination.nb-pages }}
          {% endif %}

          {% if pagination.page == pagination.nb-pages %}
          <a class="pagination-link" aria-label="Goto next page" disabled> > </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto next page"
             href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ pagination.nb-pages }}"> > </a>
          {% endif %}
        </li>
        <li>
        </li>
      </ul>
    </nav>
    {% endif %}

    </div>
  </div>
</div>

{% endblock %}
