{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-bottom: 5em">
  <div class="columns">
    <div class="column is-8 is-offset-2">

      <div class="box content">
        <h3>Votre panier </h3>

        <div>
          <p>
            Et voilà.

            En remplissant et validant le formulaire ci après, la commande arrive chez moi par voie de courrier électronique, c'est magique !
          </p>


          <p>
            Il est possible qu'il y ait des errare humanum in la commandum, soit de base, soit parce que le stock n'est actualisé qu'une fois la nuit venue à 04h00. Si jamais c'est le cas, je vous préviendrais !
          </p>


          <p>
          Ensuite de quoi la marmotte elle mettra vos p'tits livres dans un joli sac kraft qu'elle vous remettra :

            <ul>
              <li>soit sur RDV</li>

              <li>soit le vendredi de 15h à 18h à la porte de la librairie (parlez dans l'hygiaphone)</li>

              <li>soit par l'intermédiaire d'un camarade du marché du samedi matin (à confirmer)</li>
            </ul>


            En tout cas, dans le respect des gestes barrières et des consignes sanitaires (masque, lavage des mains, gel hydro... etc.) pour ma part et la votre. Et en respectant des distances sociales pour votre part si jamais d'autres lecteurs et lectrices affamé.e.s se trouvent là en même temps...
          </p>

          <div style="text-align: right; margin-top: 2em">
            Total de votre commande: <strong id="total"> 0</strong> <strong>€</strong>
          </div>
        </div>

        <details {% if open-form %} open="true" {% endif %}>
          <summary> Formulaire de validation </summary>
          Merci de renseigner au moins un courriel valide.

          <form action="panier" method="POST">

            {% for error in form-errors %}
            <div class="notification is-warning">
              <button class="delete"></button>
              {{ error }}
            </div>
            {% endfor %}

            <div class="field">
              <div class="field">
                <label class="label"> Votre nom et prénom </label>
                <div class="control">
                  <input class="input" type="text" required="" name="name" {% if form-data.name %} value="{{ form-data.name }}" {% endif %}>
                </div>
              </div>

              <div class="field">
                <label class="label">Votre courriel</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Courriel" name="email" {% if form-data.email %} value="{{ form-data.email }}" {% endif %}>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label"> Téléphone</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="tel" placeholder="Téléphone" name="phone" {% if form-data.phone %} value="{{ form-data.phone }}" {% endif %}>
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label"> Moyen de paiement </label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="payment" value="monnaie">
                    Monnaie (appoint)
                  </label>
                  <label class="radio">
                    <input type="radio" name="payment" value="cheque">
                    Chèque
                  </label>

                </div>
              </div>

              <div class="field">
                <label class="label"> Vérification anti-spam: {{ secret-question }}</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" required="" placeholder="M…" name="antispam">
                  <span class="icon is-small is-left">
                    <i class="fas fa-home"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input id="formids" class="input" type="hidden" name="ids">
                </div>
              </div>

              <!-- <p class="control">
                   <div class="select">
                   <label class="label">Comment allez-vous ?</label>
                   <select id="mentalstate" name="mentalstate">
                   <option value="1" selected> Je vais bien merci </option>
                   <option value="2"> Je vais bientôt craquer il me faut des livres ! </option>
                   <option value="3"> Rooogntudju </option>
                   </select>
                   </div>
                   </p>
              -->
              <div class="field">
                <label class="label"> Message (optionnel) </label>
                <div class="control">
                  <textarea class="textarea" placeholder="Message" name="message" maxlengt="300" {% if form-data.message %} value="{{ form-data.message }}" {% endif %}></textarea>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Envoyer</button>
                </div>
              </div>
            </div>

          </form>
        </details>

      </div>

      {% for card in cards %}
      <div name="cardid" data-id="{{ card.id }}" id="card{{ card.id }}" class="box content">
	<article class="post">
	  <div class="media">
	    <div class="media-left">
	      <p class="image is-64x64">
		<img src="{{ card.cover }}">
	      </p>
	    </div>
	    <div class="media-content">
	      <div class="content">
                <h4> {{ card.title }} </h4>
		<p>
                  <span> {{ card.author }} </span>
		  <span class="tag"> {{ card.shelf }} </span>
                  <span> {{ card.publisher | capfirst }} </span>
		</p>
	      </div>
	    </div>
	    <div class="media-right">
	      <span name="price" data-price="{{ card.price }}" class="has-text-grey-light"> {{ card.price | price }} €</span>
              <span  class="icon is-small" style="cursor: pointer;" title="Ajouter au panier" onclick="basketremove({{ card.id }})">
                <i class="delete is-small"></i>
              </span>
	    </div>
	  </div>
	</article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function totalprice () {
    let prices = document.getElementsByName("price");
    let total = 0.0;
    for (var i = 0; i < prices.length; i++) {
      let val = prices[i].dataset.price;
      if (val) {
        val = parseFloat(val);
        total += val * 100;
      }
    }
    let elt_total = document.getElementById("total");
    elt_total.innerText = total / 100;
  }

  totalprice();

  function basketremove (id) {
    let idtag = "card" + id;
    let elt = document.getElementById(idtag);
    // Remove element.
    if (elt) {
      elt.remove();
      console.log("-- card removed.");
    }

    // Update the total price.
    totalprice();

    // "remove" from local storage (recompute all).
    let idelts = document.getElementsByName("cardid");
    let ids_string = "";
    for (var i = 0; i < idelts.length; i++) {
      let id = idelts[i].dataset.id;
      ids_string = ids_string + id + ",";
    }
    window.localStorage.setItem("savedcardids", ids_string);
    console.log("-- saved ids are now: ", window.localStorage.getItem("savedcardids"));

    // update hidden form field.
    insert_hidden_ids();
  }

  function insert_hidden_ids () {
    let ids = window.localStorage.getItem("savedcardids");
    if (ids) {
      let elt = document.getElementById("formids");
      elt.value = ids;
    }
  }

  insert_hidden_ids();
</script>

{% endblock %}
