{% extends "base.html" %}

{% block title %}
{{ user-content.brand-name }}
{% endblock %}

{% block content %}
<section class="hero is-info">

  <div class="hero-head">

  </div>

  <div class="hero-body">
    <div class="container has-text-justified">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          {% if user-content.welcome-image %}
          <img src="{{ user-content.welcome-image }}"></img>
          {% endif %}
        </h1>
        <h2 class="subtitle">

          {% if user-content.welcome-text %}

          {{ user-content.welcome-text | safe }}

          {% else %}

          Welcome !

          {% endif %}

        </h2>
        <div class="box">
          {% include "search-form.html" %}
        </div>


      </div>
    </div>
  </div>
</section>

{% if user-content.welcome-second-text %}
<section class="hero is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="column is-6 is-offset-3">
        <div class="content is-medium" style="text-align:justify">

          {{ user-content.welcome-second-text | safe }}

        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
