{% extends "base.html" %}

{% block title %}
{{ user-content.brand-name }}
{% endblock %}

{% block content %}
<section class="hero is-info">

  <div class="hero-head">

  </div>

  <div class="hero-body">
    <div class="container has-text-justified">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          {% if user-content.welcome-image %}
          <img src="{{ user-content.welcome-image }}"></img>
          {% endif %}
        </h1>
        <h2 class="subtitle">

          {% if user-content.welcome-text %}

          {{ user-content.welcome-text | safe }}

          {% else %}

          Welcome !

          {% endif %}

        </h2>
        <div class="box">
          {% include "search-form.html" %}
        </div>


      </div>
    </div>
  </div>
</section>

{% if user-content.enable-product-selection %}
<section class="hero">
  <div class="hero-head">
    <div class="content"> </div>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="column is-6 is-offset-3">
        <div class="content is-medium" style="text-align:justify">

          <p> Voici un aperçu de notre <a href="/selection-du-libraire"> sélection du libraire</a>, à retrouver en intégralité sur sa page spéciale: </p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">

  <div class="hero-head">
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="row columns is-multiline is-mobile">
        {% for card in selection-cards %}
        <div class="column is-one-sixth-desktop is-half-mobile">
          <div class="card" id="{{ card.id }}">
            <div class="card-image">
              <figure class="image">
                <img src="{{ card.cover }}" alt="Couverture de {{ card.title }}" style="max-width: 128px"/>
              </figure>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5 no-padding">{{ card.title }}</p>
                  <p><span class="title is-6"><a href="/search?q={{ card.author }}">{{ card.author }}</a></span></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if user-content.welcome-second-text %}
<section class="hero is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="column is-6 is-offset-3">
        <div class="content is-medium" style="text-align:justify">

          {{ user-content.welcome-second-text | safe }}

        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
