<!--
  Pagination buttons: [prev] - 1 - 2 - 3 - ... - n - [next]
-->

    <nav class="pagination" role="navigation" aria-label="pagination">
      <!-- <a class="pagination-link"> {{ pagination.text-label }} </a> -->
      <ul class="pagination-list">
        <li>
          {% if pagination.page == 1 %}
          <a class="pagination-link" aria-label="Goto previous page" disabled> < </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto previous page"
             href="/search?q={{ query }}&rayon={{ shelf_id }}&page=1"> < </a>
          {% endif %}

          {% for _ in pagination.max-nb-buttons.make-list %}
          <!-- show the is-current class (blue button) or not -->
          {% if forloop.counter == pagination.page %}
          <a class="pagination-link is-current" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ forloop.counter }}" >
            {{ forloop.counter }} </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ forloop.counter }}" >
            {{ forloop.counter }} </a>
          {% endif %}
          {% endfor %}

          <!-- Show a button for the last page? -->
          {% if pagination.max-nb-buttons < pagination.nb-pages %}
          <span class="pagination-ellipsis">&hellip;</span>
          {% if pagination.page == pagination.nb-pages %}
          <a class="pagination-link is-current" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ pagination.nb-pages }}" >
            {{ pagination.nb-pages }} </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto page {{ forloop.counter }}"
              href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ pagination.nb-pages }}" >
            {{ pagination.nb-pages }} </a>
          {% endif %}
          {% endif %}

          {% if pagination.page == pagination.nb-pages %}
          <a class="pagination-link" aria-label="Goto next page" disabled> > </a>
          {% else %}
          <a class="pagination-link" aria-label="Goto next page"
             href="/search?q={{ query }}&rayon={{ shelf_id }}&page={{ pagination.nb-pages }}"> > </a>
          {% endif %}
        </li>
        <li>
        </li>
      </ul>
    </nav>
